.notesApp {
  width: 530px;
  height: 100%;
  margin: 0 auto;
  padding: 0 35px;

  font-size: 20px;
  font-family: URW Chancery L, cursive;

  .title {
    margin: 25px 0 10px;

    font-weight: 50;
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: #000000;
  }

  .writeNote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 476px;
    &__text {
      width: 350px;
      height: 90px;
      margin: 4px;
      padding: 8px 16px;

      font-size: 20px;

      border: 2px solid black;
      border-radius: 25px;
      outline: none;

      transition: 0.5s;

      resize: none;
    }

    &__button {
      position: relative;

      width: 50px;
      height: 50px;
      margin: 4px;

      color: white;

      background-color: #000000;
      border: none;
      border-radius: 25px;
      outline: none;
      cursor: pointer;

      transition: 0.5s;

      &:before {
        content: "+";
        position: absolute;
        top: 50%;
        left: 50%;

        margin-right: -50%;

        font-size: 26px;

        transform: translate(-50%, -50%);
        transition: 0.5s;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &__button[disabled] {
      cursor: default;
      background-color: red;
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
